<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxLayout="row" fxLayoutAlign="space-between" class='menu-container'>
        <span class='menu-item'>Vehicle Browser</span>
        <div fxLayout="row" fxLayoutAlign="end">
          <span class='menu-item'><a routerLink='models'>Models</a></span>
          <span class='menu-item'><a routerLink='about'>About</a></span>
        </div>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
